body{
    background: lightblue;
    text-align: center;
}

.main{
    background: lightcyan;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 400px;
}
#player-turn{
    margin-top: 60px;
    padding-top: 20px;
    font-size: 30px;
}
.score-dice{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.para{
    width: 90px;
    height: 90px;
    background: lightpink;
    font-size: 80px;
    margin-top: 20px;
    margin-left: 16px;
    border-radius: 6px;
    
}
#left-para{
    display: none;
}
#right-para{
    display: block;
}
#left-para-shadow{
    box-shadow: 3px 3px 20px black;
    display: block;
}
#right-para-shadow{
    box-shadow: 3px 3px 20px black;
    display: none;
}
h3{
    font-size: 30px;
}
#roll-btn{
    display: block;
    
    
}
.button{
    margin: 0 auto;
    padding: 10px 14px;
    font-size: 18px;
    color: white;
    background: palevioletred;
    border-radius: 4px;
    border: 0;
    
    
}
#reset-btn{
    display: none;
}